{% extends "base.html" %}
{% block title %}
    LavaCactus
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <img src="{% static 'images/logo.png' %}" class="bi mt-4 mb-3" width="100" height="100">
    <h1 class="text-body-emphasis">Welcome to my educations project site!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      "Это учебный сайт, для отработки навыков CI\CD"
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="{% url '/contact.html' %}">Contact</a>
    </div>
  </div>


{% endblock %}